.card {
    --shadow: 0 0 10px -5px #000;
    --radius: 25px;
    --occlusion: 50%;

    width: clamp(240px, 100%, 620px);
    display: inline-block;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    &:hover {
        --occlusion: 90%;
    }
}

.card__image {
    height: clamp(100px, 50vh, 400px);
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius) var(--radius) 0 0;
    transition: .5s;
    filter: brightness(var(--occlusion));
}

.card__name {
    padding: 50px 0;
    font-size: 1.4rem;
    text-align: center;
}